body{
	background-color: black;
	font-family: sans-serif;
}
.saludo2{
	width: 94%;
	text-align: justify;
	display: block;
	padding-left: 1%;
	padding-bottom: 10px;
	margin-left: 3%;
}

.arbol{
	width: 90%;
	display: block;
	margin: auto;
	border-radius: 5%;
}
.arbolgenealogico{
	width: 95%;
	display: block;
	margin: 0 auto;
	border-radius: 5%;
}
.piedepagina2{
	width: 60%;
	margin-left: 20%;
	text-align: center;
}
.contacto2{
	display: flex;
	width: 80%;
	margin-left: 10%;
	padding-top: 10px;
	background: rgba(34, 33, 33, 0.973);
	box-shadow: 20px  15px 20px rgb(52, 115, 119);
	border-radius: 20px;
}
.primerenlace{
	color: white;
	position: relative;
	padding: 15px 35px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	transition: color 0.5s;
	cursor: pointer;
	z-index: 1;
	transition: color 0.5s;
}
.primerenlace::before{
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	background: black;
	border-radius: 100px;
	clip-path: circle(0% at 50% 50%);
	transition: clip-path 0.5s cubic-bezier(0.4,0,0.2,1);
}
.primerenlace:Hover::before{
	clip-path: circle(100% at 50% 50%);
}
.primerenlace:Hover{
	color: orange;
}
.comienzo{
	color: blue;
	margin-left:auto;
	margin-top: 0;
	text-align: center;
}





